<%- include('./layouts/header') -%>
  <main>


    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-container">
            <h2 class="mb-4 text-center">login</h2>

            <form id="registrationForm">
              <div class="form-group">
                <label for="email">Mobile</label>
                <input type="number" class="form-control" id="mobile" name="mobile">
                <p id="mobile-msg" style="display: none; color: rgb(185, 55, 55);"></p>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <p id="password-msg" style="display: none; color: rgb(185, 55, 55);"></p>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <div class="text-center mt-3">
                <p>Are you new here? <a href="/signup">signup here</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let form = document.getElementById('registrationForm');

      form.addEventListener('submit', async (event) => {
        event.preventDefault();

        let pass_msg = document.getElementById('password-msg');
        let mobile_msg = document.getElementById('mobile-msg');
        let mobile = document.getElementById('mobile').value;
        let password = document.getElementById('password').value;

        pass_msg.style.display = 'none';
        mobile_msg.style.display = 'none';

        if (mobile.trim() === '') {
          mobile_msg.textContent = 'Mobile number is required.';
          mobile_msg.style.display = 'block';
        }

        if (password.trim() === '') {
          pass_msg.textContent = 'Password is required.';
          pass_msg.style.display = 'block';
        }
        if(password.trim()==''||mobile.trim()==''){
          return;
        }

        let data = {
          mobile: mobile,
          password: password
        };

        try {
          let response = await fetch('/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          });

          let result = await response.json();

          if (result.success) {
            window.location.href = '/';
          } else {
            if (!result.user) {
              mobile_msg.textContent = 'No user found.';
              mobile_msg.style.display = 'block';
            } else {
              pass_msg.textContent = 'Incorrect password.';
              pass_msg.style.display = 'block';
            }
          }
        } catch (error) {
          console.error('Error:', error);
        }
      });
    });
  </script>

  <%- include('./layouts/footer') -%>