<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OTP Verification Form</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="otpstyle.css">
  <!-- Boxicons CSS -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- <script src="script.js" defer></script> -->
</head>

<body>
  <div class="container">
    <header>
      <i class="bx bxs-check-shield"></i>
    </header>
    <h4>Enter OTP Code</h4>
    <form action="/verifyOtp" method="post">
      <div class="input-field">
        <input type="number" name="num1" />
        <input type="number" name="num2" disabled />
        <input type="number" name="num3" disabled />
        <input type="number" name="num4" disabled />
      </div>
      <button type="submit">Verify OTP</button>
    </form>
  </div>

  <script src="/otp.js"></script>
</body>

</html>