<%- include('./layouts/header.ejs') -%>


    <body class="p-0">
            <main>
                <div id="map-container" class="position-relative">
                    <button class="btn stopBtn rounded-pill">Stop</button>
                    <div id="googleMap"></div>
                </div>
            
                <div id="output" class="position-absolute bottom-0 start-50 translate-middle-x">
                    <div id="gradient-box" class="gradient-box">
                        <p class="text-center touchTxt">Touch your destination</p>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn rounded-pill text-white border-0 mr-2" id="start-btn"
                                onclick="calcRoute();">Start</button>
                        </div>
                    </div>
                </div>
            
                <input type="hidden" id="from" placeholder="Origin" class="form-control">
                <input type="hidden" id="to" placeholder="Destination" class="form-control">
            
                <div id="dropdown-container" class="dropdown-container d-none fixed-top m-3">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="card rounded border-0 p-4">
                            <p class="card-title">How much time will it take to reach your destination?</p>
                            <input type="number" id="dropdown-number" class="form-control mb-3" placeholder="in minutes">
                            <button class="btn btn-primary text-white" style="background-color: rgb(127 81 187);"
                                onclick="submitNumber()">Submit</button>
                        </div>
                    </div>
                </div>
            
                <div id="tracking-content" class="tracking-content">
                    <div id="progress-bar">
                        <div id="progress"></div>
                        <div class="label start-label">Start</div>
                        <button class="btn rounded-pill text-white border-0 mr-2 pauseBtn" id="pause-btn"
                            onclick="pauseProgressBar()">Pause</button>
                        <button class="btn rounded-pill text-white border-0 resumeBtn" id="resume-btn"
                            onclick="resumeProgressBar()">Resume</button>
                        <div class="label end-label">End</div>
                    </div>
                    <div id="checkpoint1" class="checkpoint"></div>
                    <div id="checkpoint2" class="checkpoint"></div>
                </div>
            
                <div id="dimmer-overlay" class="dimmer-overlay d-none"></div>
            </main>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_UNyyeu7K7g6VmxMlOJFBx1vGT0Igbmo&libraries=places"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="/script.js"></script>
            <%- include('./layouts/footer.ejs') -%>