<%- include('./layouts/header.ejs') -%>

    <body class="p-0">
        <main>
            <div id="map-container" class="position-relative">
                <div id="googleMap"></div>
            </div>

            <div id="output" class="position-absolute bottom-0 start-50 translate-middle-x">
                <div id="gradient-box" class="gradient-box">
                    <p class="text-center touchTxt">Touch your destination</p>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn rounded-pill text-white border-0 mr-2" id="start-btn"
                            onclick="calcRoute();">Start</button>
                        <button class="btn rounded-pill text-white border-0" style="display: none;" id="stop-btn"
                            onclick="stopLiveTracking()">Stop</button>
                    </div>
                </div>
                <input type="hidden" id="from" placeholder="Origin" class="form-control">
                <input type="hidden" id="to" placeholder="Destination" class="form-control">
        </main>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_UNyyeu7K7g6VmxMlOJFBx1vGT0Igbmo&libraries=places"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/script.js"></script>
        <%- include('./layouts/footer.ejs') -%>