<%- include('./layouts/header.ejs') -%>
<main>

    
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-container">
          <h2 class="mb-4 text-center">User Registration</h2>
          <form id="registrationForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="Mobile">Mobile</label>
              <input type="number" class="form-control" id="Mobile" name="Mobile" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
            <div class="text-center mt-3">
              <p>Already have an account? <a href="/login">Login here</a></p>
            </div>
          </form>
         
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('./layouts/footer.ejs') -%>
