<%- include('./layouts/header.ejs') -%>
  <main>
    <div class="container shadow-lg mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-container">
            <h2 class="mb-4 text-center">User Registration</h2>
            <form id="registrationForm">
              <div class="form-group mb-3">
                <label for="username">Username *</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="form-group mb-3">
                <label for="Mobile">Mobile *</label>
                <input type="number" class="form-control" id="Mobile" name="Mobile" required>
              </div>
              <div class="form-group mb-3">
                <label for="password">Password *</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="form-group mb-3">
                <label for="confirmPassword">Confirm Password *</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
              </div>
              <label for="">Trustuble person's numbers *</label>
              <div class="row">
                <div class="col-6">
                  <div class="form-group mb-3">
                    <label for="mobile1">Mobile 1</label>
                    <input type="number" class="form-control" id="mobile1" name="mobile1" required>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-3">
                    <label for="mobile2">Mobile 2</label>
                    <input type="number" class="form-control" id="mobile2" name="mobile2" required>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="gender">Gender *</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="female" required>
                  <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="other" value="other" required>
                  <label class="form-check-label" for="other">Other</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary d-block mx-auto mt-3">Register</button>
              <div class="text-center mt-3">
                <p class="">Already have an account? <a href="/login">Login here</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let form = document.getElementById('registrationForm');

      form.addEventListener('submit', async (event) => {
        event.preventDefault();

        let mobileMsg = document.getElementById('mobile_msg');
        let passwordMsg = document.getElementById('password_msg');
        let usernameMsg = document.getElementById('username_msg');
        let confirmPasswordMsg = document.getElementById('confirmpas_msg')
        let mobile = document.getElementById('Mobile').value;
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirmPassword').value;
        let username = document.getElementById('username').value;

        mobileMsg.style.display = 'none';
        passwordMsg.style.display = 'none';
        usernameMsg.style.display = 'none';
        confirmPasswordMsg.style.display = 'none';
        let validate = true;

        if (username.trim() === '') {
          usernameMsg.textContent = 'Username is required.';
          usernameMsg.style.display = 'block';
          validate = false;
        }

        if (mobile.trim() === '') {
          mobileMsg.textContent = 'Mobile is required.';
          mobileMsg.style.display = 'block';
          validate = false;
        }

        if (password.trim() === '') {
          passwordMsg.textContent = 'Password is required.';
          passwordMsg.style.display = 'block';
          validate = false;
        }
        if (password !== confirmPassword || confirmPassword.trim() == '') {
          confirmPasswordMsg.textContent = 'Password is not match';
          confirmPasswordMsg.style.display = 'block';
          validate = false;
        }

        if (validate) {
          try {
            let response = await fetch('/signup', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: username,
                mobile: mobile,
                password: password
              })
            });

            if (response.ok) {
              // Handle successful registration
            } else {
              // Handle registration failure
            }
          } catch (error) {
            console.error('Error:', error);
          }
        }
      });
    });
  </script>

  <%- include('./layouts/footer.ejs') -%>