<%- include('../layouts/header.ejs') -%>
    <main class="pt-5">
        <div class="section-1 ">
            <div class="container-fluid section-1-main pt-4">
            </div>
            <div class="satartbutton d-flex ">
                <button class="button-1">
                    <h1 class="button-text m-0">start</h1>
                    <p class="button-p">journey with us</p>
                </button>
            </div>
            <p class="sec-1-para mt-4">Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </main>
    <%- include('../layouts/footer.ejs') -%>